.login-page {
    height: 100vh;
    background: conic-gradient(from 51.64deg at 59.79% 34.74%, rgba(242, 129, 129, 0.56) -17.95deg, rgba(84, 234, 255, 0.39) 28.24deg, rgba(173, 233, 229, 0.69) 97.5deg, rgba(166, 250, 181, 0.47) 146.69deg, rgba(176, 255, 10, 0.21) 195deg, rgba(255, 245, 0, 0.67) 245.62deg, rgba(255, 128, 16, 0.49) 298.12deg, rgba(242, 129, 129, 0.56) 342.05deg, rgba(84, 234, 255, 0.39) 388.24deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-page form {
    margin-top: 30px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 50px;
    border-radius: 10px;
}

form h1 {
    font-size: 25px;
    font-weight: 500;
}

form input {
    margin-top: 20px;
    outline: none;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
}

form button {
    margin-top: 20px;
    width: 150px;
    height: 50px;
    background-color: rgb(255, 198, 92);
    outline: none;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    color: black;
}